@import "vars";
//@import "extends";
//@import "buttonGlare";

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  }

body {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: 0.875em;
    color:$textColor;
    background-color: #fff;
  }
//Блокируем скролинг при открытом меню
body.lock {
  //overflow: hidden;
}
@media (min-width: 769px) { body {font-size: 1em} }

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 240px;
  background: url('../img/width-border.png') no-repeat center bottom;
    .logo {
      display: block;
      img {
        height: 80px;
      }//.img
    }//.logo
    .phone {
      font-size: 1.5em;
      letter-spacing: 1px;
    }
    a.glare {
      display:block;
      color: #2d2d2d;
      padding: 12px 12px;
      font-family: "Helvetica";
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1em;
      overflow: hidden;
      text-decoration: none;
      width:180px;
      margin-bottom: 10px;
      text-align:center;
      border: #000 solid 2px;
    }
}//.header

@media (min-width: 768px) {
  .header {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: row;
    height: 120px;
      .phone {margin-top: 20px}
      a.glare {margin-top: 20px}
  }
}

@media (min-width: 1024px) {
  .header {max-width: 1180px}
}

.fixposition {
  position: fixed;
  top:0;
  left:0;
  z-index: 50;
}
.content {
  background: blue;
}
.menubox {//header__body
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:50px;

  .burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    &:before,&:after {
      content: '';
      background-color: #000;
      position:absolute;
      width: 100%;
      height: 3px;
      left: 0;
    }
    &:before {top:5px}
    &:after {bottom:5px}

    span {
      position: absolute;
      background: #000;
      left: 0;
      width: 100%;
      height: 3px;
      top:18px;
    }
  }//burger
  //c классом active добавленным через скрипты
  .burger.active {
    span {transform: scale(0)}
    &:before {
      transform:rotate(45deg);
      top:18px;
    }
  }//burger.activ
  .burger.active {
    &:after {
      transform:rotate(-45deg);
      bottom:18px;
    }
  }//burger.activ
  .mainMenu {
    display: none;
    position: absolute;
    top:50px;
    width: 220px;
    background-color: #fff;
    padding-bottom: 20px;
  //  overflow: auto;
    transition: all 0.3s ease 0s;//Кажется не работает
    z-index: 20;
    .list {
      //display: flex;

      li {
        list-style: none;
        margin-top: 20px;

        a.link {
          color:#000;
          font-size: 1.125em;
          font-weight: bold;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          padding-left: 20px;
        }//a.link
      }//li
    } //list
  }//mainMenu
  .mainMenu.active {
    display: block;
  }
}//menubox
@media (min-width: 769px) {
  .menubox {
    margin: 0 auto;
    justify-content: center;
    .burger {display: none}
    .mainMenu {
      display: block;
      position: relative;
      top:0;
      width: 100%;
      background-color: inherit;
      ul.list {
        display: flex;
        justify-content: space-around;
        li {
          a.link{
            font-size: 0.875em;
            padding-left: 0;
          }
        }//li
      }//list
    }//mainMenu
  }//menubox
}//media min 769
@media (min-width: 1024px) {
  .menubox {
    max-width: 1180px;
    .mainMenu{
      ul.list {
        li {
          a.link {font-size: 1.125em;}
        }
      }
    }
  }
}
