@import "vars";
//@import "extends";
//@import "buttonGlare";

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  }

body {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: 0.875em;
    color:$textColor;
    background-color: #fff;
  }
//Блокируем скролинг при открытом меню
body.lock {
  //overflow: hidden;
}
@media (min-width: 769px) { body {font-size: 1em} }

a {text-decoration: none;}


.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 240px;
  background: url('../img/width-border.png') no-repeat center bottom;
    .logo {
      display: block;
      img {
        height: 80px;
      }//.img
    }//.logo
    .phone {
      font-size: 1.5em;
      letter-spacing: 1px;
    }
    a.glare {
      display:block;
      color: #2d2d2d;
      padding: 12px 12px;
      font-family: "Helvetica";
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1em;
      overflow: hidden;
      text-decoration: none;
      width:180px;
      margin-bottom: 10px;
      text-align:center;
      border: #000 solid 2px;
    }
}//.header

@media (min-width: 768px) {
  .header {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: row;
    height: 120px;
      .phone {margin-top: 20px}
      a.glare {margin-top: 20px}
  }
}

@media (min-width: 1024px) {
  .header {max-width: 1180px}
}


.menubox {//header__body
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:50px;

  .burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    &:before,&:after {
      content: '';
      background-color: #000;
      position:absolute;
      width: 100%;
      height: 3px;
      left: 0;
    }
    &:before {top:5px}
    &:after {bottom:5px}

    span {
      position: absolute;
      background: #000;
      left: 0;
      width: 100%;
      height: 3px;
      top:18px;
    }
  }//burger
  //c классом active добавленным через скрипты
  .burger.active {
    span {transform: scale(0)}
    &:before {
      transform:rotate(45deg);
      top:18px;
    }
  }//burger.activ
  .burger.active {
    &:after {
      transform:rotate(-45deg);
      bottom:18px;
    }
  }//burger.activ
  .mainMenu {
    display: none;
    position: absolute;
    top:50px;
    width: 220px;
    background-color: #fff;
    padding-bottom: 20px;
  //  overflow: auto;
    transition: all 0.3s ease 0s;//Кажется не работает
    z-index: 20;
    .list {
      //display: flex;

      li {
        list-style: none;
        margin-top: 20px;

        a.link {
          color:#000;
          font-size: 1.125em;
          font-weight: bold;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          padding-left: 20px;
        }//a.link
      }//li
    } //list
  }//mainMenu
  .mainMenu.active {
    display: block;
  }
}//menubox
@media (min-width: 769px) {
  .menubox {
    margin: 0 auto;
    justify-content: center;
    .burger {display: none}
    .mainMenu {
      display: block;
      position: relative;
      top:0;
      width: 100%;
      background-color: inherit;
      ul.list {
        display: flex;
        justify-content: space-around;
        li {
          a.link{
            font-size: 0.875em;
            padding-left: 0;
          }
        }//li
      }//list
    }//mainMenu
  }//menubox
}//media min 769
@media (min-width: 1024px) {
  .menubox {
    max-width: 1180px;
    .mainMenu{
      ul.list {
        li {
          a.link {font-size: 1.125em;}
        }
      }
    }
  }
}

hr {
  height: 2px;
  margin: 10px 0 0;
  background:url('../img/width-border.png') no-repeat center;
  border: none;
}
h2 { text-transform: uppercase; }

.products {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;

  .catalog {
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    .item {
      flex-basis:290px;
      margin-bottom: 20px;
      .photo_item {
        max-width: 100%;
        img.photo {
          width: 100%;
        }
      }
      .title_item, .price {
        font-size: 1.125em;
        font-weight:bold;
        margin-top: 10px;
      }
      .title_item {
        text-transform: uppercase;
        a:active, a:hover, a { color: #000}
      }
    }//item
  }//catalog
}//products
@media (min-width:320px){
  .products {
    max-width: 768px;
  }
}
@media (min-width:450px){
  .products {
    .catalog {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      .item {
        flex: 1 1 170px;
        min-width: 180px;
        max-width: 266px;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}
@media (min-width:768px){
  .products {
    max-width: 1024px;
    margin: 0 auto;
    .catalog {
      .item {
        min-width: 220px;
      }
    }
  }
}

@media (min-width:900px){
  .products {
    max-width: 1024px;
    margin: 0 auto;
    .catalog {
      justify-content: space-between;
      .item {
        flex: 0 0 30%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .products {
    max-width: 1180px;
    .catalog {
      justify-content: space-between;
      .item {
        max-width: inherit;
        flex: 1 0 30%;
      }
    }
  }
}

.describe_back {
  background: #f8f8f8;
.describe {
  padding: 15px;
  p {
    margin-top: 10px;
    text-align: justify;
  }
}
}

@media (min-width: 768px) {
  .describe {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .describe {max-width: 1180px}
}

.footer_back {
  padding: 15px;
  background: #383838;
  color:#fff;

  .footer {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .foot_menu {
      .list {
        column-count: 2;
        li {
          list-style: none;
          padding: 5px 0;

          a.link {
            color:#fff;
            font-size: 0.875em;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
          }//a.link
        }//li
      } //list
    }
    }

    .foot_phone {
      .phone {
        font-size: 1.5em;
        letter-spacing: 1px;
        margin: 0 30px;
        i {
          color: #f94343;
        }
      }
      a.glare {
        display:block;
        color: #fff;
        padding: 12px 12px;
        font-family: "Helvetica";
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
        overflow: hidden;
        text-decoration: none;
        width:180px;
        margin: 20px auto;
        text-align:center;
        border: #fff solid 2px;
      }
    }

    p {
      display: block;
    }
}

@media (min-width: 600px) {
  .footer_back {
    .footer {
      flex-direction:row;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: 800px) {
  .footer_back {
    .footer {
      max-width: 1024px;
      margin: 20px auto;
      height: auto;
    }
  }
}

@media (min-width: 1024px) {
  .footer_back {
    .footer {
      justify-content: space-between;
      max-width: 1180px}
  }
}
